# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\לימודים\הדסים-משימת בית\Twiter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
